<div class='panel panel-default'>
  <div class='panel-heading'>
    Day
  </div>

  <div id='itinerary' class='panel-body'>

    <div>
      Hotels
      <ul class='list-group'>
        <div class='row'>
          <div class='col-sm-10'>
            <li class='list-group-item' id ='hotel'>
              <h1></h1>
            </li>
          </div>
          <div class='col-sm-2'>
            <button class='btn btn-warning btn-sm pull-right'>x</button>
            <br clear='both' />
          </div>
      </ul>
      </div>

      <div>
          Restaurants
          <ul class='list-group'>
            <div class='row'>
              <div class='col-sm-10'>
                <li class='list-group-item' id='restaurant'>
                  <h1></h1>
                </li>
              </div>
              <div class='col-sm-2'>
                <button class='btn btn-warning btn-sm pull-right'>x</button>
                <br clear='both' />
              </div>
          </ul>
          </div>

          <div>
              Activity
              <ul class='list-group'>
                <div class='row'>
                  <div class='col-sm-10'>
                    <li class='list-group-item' id = 'activity'>
                      <h1></h1>
                    </li>
                  </div>
                  <div class='col-sm-2'>
                    <button class='btn btn-warning btn-sm pull-right'>x</button>
                    <br clear='both' />
                  </div>
              </ul>
              </div>

    </div>
  </div>